@use '../helpers/' as *;

.blog-details {
  &__banner {
    display: flex;
    align-items: end;
    min-height: fluid(598.281);
    padding-block: fluid(65, 17);
    text-align: center;
    background: var(--bgImg) center/cover no-repeat;
  }
}
